@model MastiTimes.Models.Search

@{ ViewData["Title"] = "GetSelectedMovie"; }

<link rel="stylesheet" type="text/css" href="~/css/MoviePage.css">

<div class="show-time">
    <h3 style="text-align:center;">Movie Playing at:</h3>
    <div class="time" style="margin-bottom: 20px; margin-left: 15px; text-align: center;">
        @{
            List<string> theater = new List<string>();
        }

        @foreach (var time in ViewBag.MovieTimes)
        {
        <strong>@time.Theater.Name - </strong>
        <button type="button" class="btn-success" disabled style="margin-right:15px; margin-bottom: 20px;">@time.ShowTime.ToString("hh:mm tt")</button>
        }
    </div>
</div>


<div class="movie-card" style="    margin-top: 28px;">
    <div class="movie-container">
        <div class="a">
            <div id="imgBanner" style="background-image:url('@Model.Poster')" class="cover-image"></div>
            <div class="overlay"></div>
        </div>

        <a href="#"><img src="@Model.Poster" alt="movie-cover" class="movie-cover" /></a>
        <div class="movie-details">
            <div class="title1">&nbsp;&nbsp;&nbsp;&nbsp;@Model.Title <span class="title">@Model.Rated</span></div>
            @*<div class="title2">The Battle of the Five Armies</div>*@
            <span class="likes"><b>IMDB:</b> @Model.ImdbRating</span>&nbsp;
            <span><b>Votes:</b>@Model.ImdbVotes</span><br />
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Released</span>
        </div> <!-- end details -->

        <div class="description">
            <div class="column1">
                @foreach (var genre in Model.Genre)
                {
                    <span class="tag">@genre</span>
                }               
            </div> <!-- end column1 -->

            <div class="column2">
                <p style="color: black">
                    @Model.Plot
                </p>

                <div class="actors">
                    <p><strong>Actors:</strong> @Model.Actors</p>
                </div>

                <div class="director">
                    <p><strong>Director:</strong> @Model.Directors</p>
                </div>

                <div class="runtime">
                    <p><strong>Duration:</strong> @Model.Duration</p>
                </div>

                <div class="country">
                    <p><strong>Country:</strong> @Model.Country</p>
                </div>

                <div class="language">
                    <p><strong>Language:</strong> @Model.Language</p>
                </div>

            </div> <!-- end column2 -->
        </div> <!-- end description -->
    </div>
</div>


