@using Microsoft.AspNetCore.Http;

@model MastiTimes.Models.Search

@{ ViewData["Title"] = "GetSelectedMovie"; }

@{ var check = "no";}

<link rel="stylesheet" type="text/css" href="~/css/MoviePage.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .fa-heart-o {
        color: red;
        cursor: pointer;       
    }

    .fa-heart {
        color: red;
        cursor: pointer;
    }

    #comments {
        margin: 24px 0 12px 0;
        width: 640px;
    }


    h2 {
        color: #A3121B;
        font-family: "museo-1","museo-2";
        font-size: 20px;
        font-weight: normal;
        margin: 12px 0;
    }

    .comment .avatar {
        float: left;
        margin: 0 12px 0 0;
        position: absolute;
    }

    .acontent {
        color: #666;
        text-decoration: none;
    }


    .comment {
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -o-border-radius: 10px;
        -ms-border-radius: 10px;
        -khtml-border-radius: 10px;
        border-radius: 10px;
        behavior: url(/stylesheets/PIE.htc);
        border: 1px solid #eee;
        color: #444;
        font-size: 14px;
        margin: 12px 0;
        overflow: hidden;
        padding: 12px 12px 0px 12px;
    }

        .comment.even {
            background-color: #fafafa;
        }

    #new_comment {
        margin: 24px 0 24px 0;
        padding: 0;
        width: 630px;
    }


    .comment .body {
        float: left;
        margin: 0 0 0 65px;
        min-height: 50px;
    }

    form input, .form input {
        display: block;
    }

    .login_prompt {
        float: right;
        margin-top: 3px;
    }

    p {
        margin: 12px 0;
    }

    .comment-box {
        position: absolute;
        display: none;
        overflow-wrap: break-word;
        font-weight: 400;
        width: 630px;
        font-family: monospace;
        line-height: normal;
        font-size: 16px;
        padding: 3px;
    }

    #new_comment .tips {
        color: #555555;
        font-size: 14px;
        margin: 12px 30px 24px 0;
    }
</style>
<script>
    // It checks to see if the span id #heart has "liked" class, if not it run the else statement and adds the "liked" class, on a 2nd click it see that it has the "liked" class so it replaces the ihherHTML and removes class, on 3rd click it runs the else statement again cause there is no "liked" class(remomved on 2nd click).
    $(document).ready(function () {
        $("#heart").click(function () {

            $.ajax({
                type: "POST",
                url: '@Url.Action("LikeTheater")',
                data: {
                    'howdy': "theaterr",
                    'movie': @ViewBag.Movie,
                    'user': @ViewBag.User
                },
                dataType: "json",
                //contentType: "application/json; charset=utf-8",
                success: function (response) {
                    //console.log(response)
                    if (response.test == "No") {
                        $("#Error").html('<span>Please Login to like the page!</span>');
                        //alert("Please Login to Like the page!");
                    }
                    else {
                        if ($("#heart").hasClass("liked")) {
                            $("#heart").html('<i class="fa fa-heart-o" aria-hidden="true"></i>');
                            $("#heart").removeClass("liked");
                        } else {
                            $("#heart").html('<i class="fa fa-heart" aria-hidden="true"></i> &nbsp; @ViewBag.Likes likes');
                            $("#heart").addClass("liked");
                        }
                    }
                    //$("#comments h2").append("Success");
                },
                error: function () {
                    alert("Error rror ror");
                }
            });
        });
    });
</script>

<div class="show-time">
    <h3 style="text-align:center;">Movie Playing at:</h3>
    <div class="time" style="margin-bottom: 20px; margin-left: 15px; text-align: center;">
        @{ List<string> theater = new List<string>(); }

        @foreach (var time in ViewBag.MovieTimes)
        {
            <strong>@time.Theater.Name - </strong>
            <button type="button" class="btn-success" disabled style="margin-right:15px; margin-bottom: 20px;">@time.ShowTime.ToString("hh:mm tt")</button>
        }
    </div>
</div>


<div class="movie-card" style="    margin-top: 28px;">
    <div class="movie-container">
        <div class="a">
            <div id="imgBanner" style="background-image:url('@Model.Poster')" class="cover-image"></div>
            <div class="overlay"></div>
        </div>

        <a href="#"><img src="@Model.Poster" alt="movie-cover" class="movie-cover" /></a>
        <div class="movie-details">
            <div class="title1">&nbsp;&nbsp;&nbsp;&nbsp;@Model.Title <span class="title">@Model.Rated</span></div>
            @*<div class="title2">The Battle of the Five Armies</div>*@
            <span class="likes"><b>IMDB:</b> @Model.ImdbRating</span>&nbsp;
            <span><b>Votes:</b>@Model.ImdbVotes</span><br />
            <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;@Model.Released</span>
        </div> <!-- end details -->

        <div class="description">
            <div class="column1">
                @foreach (var genre in Model.Genre)
                {
    <span class="tag">@genre</span>}
            </div> <!-- end column1 -->

            <div class="column2">
                <p style="color: black">
                    @Model.Plot
                </p>

                <div class="actors">
                    <p><strong>Actors:</strong> @Model.Actors</p>
                </div>

                <div class="director">
                    <p><strong>Director:</strong> @Model.Directors</p>
                </div>

                <div class="runtime">
                    <p><strong>Duration:</strong> @Model.Duration</p>
                </div>

                <div class="country">
                    <p><strong>Country:</strong> @Model.Country</p>
                </div>

                <div class="language">
                    <p><strong>Language:</strong> @Model.Language</p>
                </div>

            </div> <!-- end column2 -->
        </div> <!-- end description -->
    </div>
</div>

<div style="margin-left: 175px; margin-top: 30px">
    <p id="Error" style="color:red">@ViewBag.LoginError</p>
    <span id=heart><i class="fa fa-heart-o" aria-hidden="true"></i>&nbsp; @ViewBag.Likes likes </span>

    <div id="comments">
        <h2>
            Comments
            <span>(3)</span>
        </h2>
        <div class="comment even">
            <div class="avatar">
                <a href="">
                    <img alt="karpf" height="48" width="48" src="http://photos.cinematreasures.org/production/users/96350/1583394046/small.jpg?1583394046" />
                </a>
            </div>
            <div class="body">
                <strong>
                    <a class="acontent" href="#">
                        Bilal
                    </a>
                </strong>
                <span>on March 7, 2020 at 11:39am</span>
                <p>Great video! I'm so glad I watched this.</p>
            </div>
        </div>
        <form action="" class="new_comment" id="new_comment" method="post">
            <div style="margin:0; padding:0; display:inline">

            </div>
            <div class="login_prompt">You must login before making a comment.</div>
            <h2>New Comment</h2>
            <p>
                <textarea cols="40" disabled="disabled" id="comment_body" name="comment[body]" rows="5" style="overflow:hidden; width:630px;">
               
            </textarea>
                <div class="comment-box">
                    &nbsp;
                </div>

            </p>

            <div class="tips">
                <ul>
                    <li>Contribute something to the conversation</li>
                    <li>No personal attacks</li>
                    <li>Stay on-topic</li>
                </ul>
                <p>
                    <input disabled="disabled" id="comment_submit" name="commit" type="submit" value="Add comment" />
                </p>
            </div>
        </form>

        <form asp-action="test" class="new_comment" id="new_comment" method="post">
            <div style="margin:0; padding:0; display:inline">

            </div>
            <div class="login_prompt">You must login before making a comment.</div>
            <h2>New Comment</h2>
            <p>
                <textarea cols="40" id="comment_body" name="comment" rows="5" style="overflow:hidden; width:630px;">  
            </textarea>
            </p>

            <div class="tips">
                <ul>
                    <li>Contribute something to the conversation</li>
                    <li>No personal attacks</li>
                    <li>Stay on-topic</li>
                </ul>
                <p>
                    <input id="comment_submit" name="commit" type="submit" value="Add comment" />
                </p>
            </div>
        </form>

    </div>
</div>

