@*@model List<MastiTimes.Models.Results>*@


@{
    ViewData["Title"] = "Movie Showtimes, Events, Activities and more in Kathmandu, Nepal ";
}

<head>
    <link rel="stylesheet" href="~/css/Event.css" />
</head>
<style>
    @@media (min-width: 1200px) {
        .container-home {
            width: 800px;
            float: left;
        }
    }

    .widget-box-popular {
        border: 1px solid #d3d3d3;
        margin: 10px 0;
        display: inline-block;
        width: 300px;
        float: right;
    }

    .tdiv {
        overflow: hidden;
        position: relative;
        display: block;
        min-height: 70px;
        background-color: #000;
        vertical-align: central;
        margin: 0 auto;
        width: 110px;
    }

    .card-img-top {
        /*height: 280px;*/
        width: 220px;
        padding: 0px 0px 0px 15px;
    }

    /* Banner slider home page*/
    /* Sourcehttps://medium.com/wdstack/bootstrap-4-custom-carousel-94a537364fde */

    @@media (min-width: 768px) {
        /* show 3 items */
        .carousel-inner .active, .carousel-inner .active + .carousel-item, .carousel-inner .active + .carousel-item + .carousel-item {
            display: block;
        }

        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
        .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
            transition: none;
            margin-right: initial;
        }

        .carousel-inner .carousel-item-next,
        .carousel-inner .carousel-item-prev {
            position: relative;
            transform: translate3d(0, 0, 0);
        }

        .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
            position: absolute;
            top: 0;
            right: -33.3333%;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* left or forward direction */
        .active.carousel-item-left + .carousel-item-next.carousel-item-left,
        .carousel-item-next.carousel-item-left + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
        .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(-100%, 0, 0);
            visibility: visible;
        }
        /* farthest right hidden item must be abso position for animations */
        .carousel-inner .carousel-item-prev.carousel-item-right {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            display: block;
            visibility: visible;
        }
        /* right or prev direction */
        .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
        .carousel-item-prev.carousel-item-right + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
        .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
            position: relative;
            transform: translate3d(100%, 0, 0);
            visibility: visible;
            display: block;
            visibility: visible;
        }
    }

    /*style for the event list*/

</style>

<!-- CSS and JS for now playing and coming soon poster sliders-->
<!--auto compiled css & Js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- JavaScript for adding
 slider for multiple images
 shown at once-->
<script type="text/javascript">
    $(window).load(function () {
        $(".carousel .item").each(function () {
            var i = $(this).next();
            i.length || (i = $(this).siblings(":first")),
                i.children(":first-child").clone().appendTo($(this));

            for (var n = 0; n < 4; n++)(i = i.next()).length ||
                (i = $(this).siblings(":first")),
                i.children(":first-child").clone().appendTo($(this))
        })
    });



</script>

<!-- CSS and JS END for Sliders-->
<!-- Modal -->
<div id="showtimes-modal">
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">QFX showtimes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var movie in Model[0].NowPlayingMovies)
                    {
                        <div class="col-md-6">
                            <div class="well text-center">
                                <a href='@Url.Action("GetSelectedMovieByTitle", "Home",
                            new { title = @movie.Title, movieId = movie.ID })'>
                                    <img src="@movie.PosterUrl"
                                         class="img-responsive" style="height:100px; width:100px;">
                                </a>
                                <h5 style="color:#5E5B54">@movie.Title [@movie.Rated]</h5>
                                @foreach (var time in movie.showtimes)
                                {
                                    <button type="button" class="btn-success" style="margin-top:10px;" disabled>@time.ToString("hh:mm tt")</button>
                                }
                            </div>
                        </div>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">QFX showtimes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var movie in Model[3].NowPlayingMovies)
                    {
                        <div class="col-md-6">
                            <div class="well text-center">
                                <a href='@Url.Action("GetSelectedMovieByTitle", "Home",
                            new { title = @movie.Title, movieId = movie.ID })'>
                                    <img src="@movie.PosterUrl"
                                         class="img-responsive" style="height:100px; width:100px;">
                                </a>
                                <h5 style="color:#5E5B54">@movie.Title [@movie.Rated]</h5>
                                @foreach (var time in movie.showtimes)
                                {
                                    <button type="button" class="btn-success" style="margin-top:10px;" disabled>@time.ToString("hh:mm tt")</button>
                                }
                            </div>
                        </div>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">FCube showtimes</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    @foreach (var movie in Model[6].NowPlayingMovies)
                    {
                        <div class="col-md-6">
                            <div class="well text-center">
                                <a href='@Url.Action("GetSelectedMovieByTitle", "Home",
                            new { title = @movie.Title, movieId = movie.ID })'>
                                    <img src="@movie.PosterUrl"
                                         class="img-responsive" style="height:100px; width:100px;">
                                </a>
                                <h5 style="color:#5E5B54">@movie.Title [@movie.Rated]</h5>
                                @foreach (var time in movie.showtimes)
                                {
                                    <button type="button" class="btn-success" style="margin-top:10px;" disabled>@time.ToString("hh:mm tt")</button>
                                }
                            </div>
                        </div>

                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- https://bootstrapr.io/carousels.html -->
<div id="carousel-4756560" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carousel-4756560" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-4756560" data-slide-to="1"></li>
        <li data-target="#carousel-4756560" data-slide-to="2"></li>
        <li data-target="#carousel-4756560" data-slide-to="3"></li>
        <li data-target="#carousel-4756560" data-slide-to="4"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/img/QFX-civil.jpg" alt="..." style="width: 1200px; height: 500px">
            <div class="carousel-caption">
                <h3 style="color: #ffffff !important">QFX Civil Mall</h3>
                @*<p style="color: #ffffff !important">This is a subheading</p>*@

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                    View Showtimes
                </button>

            </div>
        </div>
        <div class="item">
            <img src="~/img/QFX-labim.jpg" alt="..." style="width: 1200px; height: 500px">
            <div class="carousel-caption">
                <h3 style="color: #ffffff !important">QFX Labim Mall</h3>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                    View Showtimes
                </button>
            </div>
        </div>
        <div class="item">
            <img src="~/img/FCube.png" alt="..." style="width: 1200px; height: 500px">
            <div class="carousel-caption">
                <h3 style="color: #ffffff !important">FCube Movies</h3>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                    View Showtimes
                </button>
            </div>
        </div>
        @*<div class="item">
                <img src="~/img/QFX-Bhakt.png" alt="..." style="width: 1200px; height: 500px">
                <div class="carousel-caption">
                    <h3 style="color: #ffffff !important">QFX Bhaktapur</h3>
                </div>
            </div>*@
    </div>
    <a class="left carousel-control" href="#carousel-4756560" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-4756560" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-home">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about movie show times, events, activities and more.. happening in Nepal.</p>
        <br />
        <h4>Now Showing Movies in Kathmandu</h4><br />
        <h5><i>The website is currently under development!</i></h5>
    </div>

    <div class="container-fluid">
        <div id="carouselExample" class="carousel slide" data-ride="carousel" data-interval="4500">
            <div class="carousel-inner row w-10 mxauto" role="listbox">
                @{
                    bool act = true;
                }
                @foreach (var movie in ViewBag.NowMovies)
                {
                    if (act)
                    {
                        <div class="carousel-item col-md-4 active">
                            <a href='@Url.Action("GetSelectedMovieByTitle", "Home",
                                    new { title = @movie.Movie.Title, movieId = movie.MovieID, country = movie.Movie.Country, theater = movie.Theater.ID })' target="_blank">
                                <img class="img-fluid mx-auto d-bloc" src="@movie.Movie.PosterUrl" alt="@movie.Movie.Title" style="height: 255px;">
                            </a>
                            <h4 style="color:blue">@movie.Theater.Name</h4>
                            <button type="button" class="btn btn-success">@movie.ShowTime.ToString("hh:mm tt")</button>
                        </div>
                    }
                    else
                    {
                        <div class="carousel-item col-md-4">
                            <a href='@Url.Action("GetSelectedMovieByTitle", "Home",
                                    new { title = @movie.Movie.Title, movieId = movie.MovieID, country = movie.Movie.Country, theater = movie.Theater.ID })' target="_blank">
                                <img class="img-fluid mx-auto d-bloc" src="@movie.Movie.PosterUrl" alt="@movie.Movie.Title" style="height: 255px;">
                            </a>
                            <h4 style="color:blue">@movie.Theater.Name</h4>
                            <a href='@Url.Action("GetSelectedMovieByTitle", "Home",
                                    new { title = @movie.Movie.Title, movieId = movie.MovieID, country = movie.Movie.Country, theater = movie.Theater.ID })' target="_blank">
                                <button type="button" class="btn btn-success">@movie.ShowTime.ToString("hh:mm tt")</button>
                            </a>
                        </div>
                    }
                    act = false;
                }
            </div>

            <a class="carousel-control-prev" href="#carouselExample" role="button" data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
                <span class="sr-only">Previous</span>
            </a>

            <a class="carousel-control-next text-faded" href="#carouselExample" role="button" data-slide="next">
                <i class="glyphicon glyphicon-chevron-right" style="color:black"></i>
                <span class="sr-only">Next</span>
            </a>

        </div>
    </div>
</div>


<div class="widget-box-popular">
    <h4>&nbsp;&nbsp; Theaters List</h4>
    <table class="table">
        <tbody>
            &nbsp;&nbsp;
            <a href='@Url.Action("ShowTimes", "Movie")'>BROWSE SHOWTIMES BY THEATER</a>
            @foreach (var theater in Model)
            {
                <tr>
                    <td class="movie">
                        <h4>
                            @theater.Name
                        </h4><br />
                    </td>
                    <td class="movie-thumbnail">
                        <div>
                            <p>
                                <img src="~/img/theater.png" style="height:80px; width:100px" />
                            </p>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="tab-content">
    <div class="tab-pane fade in active" id="tab1">
        <div class="row">
            <div class="col-md-6">
                <div class="media">
                    <a class="pull-left" href="#"><span class="dateEl"><em>30</em>Nov</span></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#">Venture Tech</a>
                        </h4>
                        <div class="meta-data">
                            <span class="longDate">Nov 30, 2016</span> <span class="timeEl">12:00pm - 02:00pm</span>
                        </div>
                        <p>
                            See the latest inspirations in the local tech scene.
                        </p>
                    </div><!-- / media-body -->
                </div><!-- / media -->
                <div class="media">
                    <a class="pull-left" href="#"><span class="dateEl"><em>11</em>Dec</span></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#">Tech Conference</a>
                        </h4>
                        <div class="meta-data">
                            <span class="longDate">Dec 11, 2016</span> <span class="timeEl">06:00pm - 07:30pm</span>
                        </div>
                        <p>
                            Local tech entrepreneurs gather to share their knowledge.
                        </p>
                    </div><!-- / media-body -->
                </div><!-- / media -->
                <div class="media">
                    <a class="pull-left" href="#"><span class="dateEl"><em>15</em>Dec</span></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#">Marketing for Large Businesses</a>
                        </h4>
                        <div class="meta-data">
                            <span class="longDate">Dec 15, 2016</span> <span class="timeEl">05:30pm - 07:30pm</span>
                        </div>
                        <p>
                            Learn how larger organizations can effectively manager their marketing projects.
                        </p>
                    </div><!-- / media-body -->
                </div><!-- / media -->
            </div><!-- / .col-md-6 -->
            <div class="col-md-6">
                <div class="media">
                    <a class="pull-left" href="#"><span class="dateEl"><em>18</em>Dec</span></a>
                    <div class="media-body">
                        <h4 class="media-heading">
                            <a href="#">Programming 101</a>
                        </h4>
                        <div class="meta-data">
                            <span class="longDate">Dec 18, 2016</span> <span class="timeEl">06:00pm - 08:00pm</span>
                        </div>
                        <p>
                            Take the basic CMS training class to see where things are and how to build custom modules.
                        </p>
                    </div><!-- / media-body -->
                </div><!-- / media -->
            </div>
        </div>
    </div>
</div>



