@model List<MastiTimes.Models.Results>


@{
    ViewData["Title"] = "Home Page";
}

<style>
    @@media (min-width: 1200px) {
        .container-home {
            width: 800px;
            float: left;
        }
    }

    .widget-box-popular {
        border: 1px solid #d3d3d3;
        margin: 10px 0;
        display: inline-block;
        width: 300px;
        float: right;
    }

    .tdiv {
        overflow: hidden;
        position: relative;
        display: block;
        min-height: 70px;
        background-color: #000;
        vertical-align: central;
        margin: 0 auto;
        width: 110px;
    }

    .card-img-top{
        height: 280px;
        width: 220px;
        padding: 0px 0px 0px 15px;
    }
</style>

<!-- CSS and JS for now playing and coming soon poster sliders-->
<!--auto compiled css & Js-->
<script type="text/javascript"
        src="//code.jquery.com/jquery-1.9.1.js">
</script>

<script type="text/javascript"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
</script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- JavaScript for adding
 slider for multiple images
 shown at once-->
<script type="text/javascript">

    $(window).load(function () {
        $(".carousel .item").each(function () {
            var i = $(this).next();
            i.length || (i = $(this).siblings(":first")),
                i.children(":first-child").clone().appendTo($(this));

            for (var n = 0; n < 4; n++)(i = i.next()).length ||
                (i = $(this).siblings(":first")),
                i.children(":first-child").clone().appendTo($(this))
        })

        $('.carousel.carousel-multi-item.v-2 .carousel-item').each(function(){
            var next = $(this).next();
            if (!next.length) {
                next = $(this).siblings(':first');
            }
            next.children(':first-child').clone().appendTo($(this));

            for (var i=0;i<4;i++) {
                next=next.next();
                if (!next.length) {
                    next=$(this).siblings(':first');
                }
                next.children(':first-child').clone().appendTo($(this));
            }
        })
    });


</script>
<!-- CSS and JS END for Sliders-->
@************************************************************@


<div class="container-home">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about movie show times, events, activities and more.. happening in Nepal.</p>
        <br />
        <h4>Now Showing Movies in Kathmandu</h4>
    </div>

    <div id="carousel-example-multi" class="carousel slide carousel-multi-item v-2" data-ride="carousel">

        <!--Controls-->
        <div class="controls-top" style="text-align:center;">
            <a class="btn-floating" href="#carousel-example-multi" data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left"></i>
            </a>
            <a class="btn-floating" href="#carousel-example-multi" data-slide="next">
                <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        </div>
        <!--/.Controls-->
        <br />
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-multi" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-multi" data-slide-to="1"></li>
            <li data-target="#carousel-example-multi" data-slide-to="2"></li>
            <li data-target="#carousel-example-multi" data-slide-to="3"></li>
            <li data-target="#carousel-example-multi" data-slide-to="4"></li>
            <li data-target="#carousel-example-multi" data-slide-to="5"></li>
        </ol>
        <!--/.Indicators-->

        <div class="carousel-inner v-2" role="listbox" style="height:380px;">
            @{
                bool a = true;
            }
            @foreach (var movie in Model)
            {
                if (a)
                {
                    <div class="carousel-item active">
                        <div class="col-12 col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="@movie.poster_path"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title font-weight-bold">@movie.title</h4>
                                    <p class="card-text">
                                        12:45 PM
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                }
                else
                {
                    <br />
                    <div class="carousel-item">
                        <div class="col-12 col-md-4">
                            <div class="card mb-2">
                                <img class="card-img-top" src="@movie.poster_path"
                                     alt="Card image cap">
                                <div class="card-body">
                                    <h4 class="card-title font-weight-bold">@movie.title</h4>
                                    <p class="card-text">
                                        8:00 AM
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                }
                a = false;
            }
        </div>
    </div>

    <br />
    <nav class="navbar ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="index.html">New and Upcoming Movies</a>
            </div>
        </div>
    </nav>

    <!-- container class for bootstrap card-->
    <div class="container" style="width:800px">
        <!-- bootstrap card with row name myCarousel as row 1-->
        <div class="carousel slide" id="myCarousel">
            <div class="carousel-inner">
                @{
                    bool active = true;
                }
                @foreach (var movie in Model)
                {
                    if (active)
                    {
                        <div class="item active">
                            <div class="col-xs-2">

                                <a href='@Url.Action("GetSelectedMovie", "Home",
                                    new { id = @movie.ID })' target="_blank">
                                    <img src="@movie.poster_path"
                                         class="img-responsive">
                                    @Html.ActionLink(@movie.title, "GetSelectedMovie", "Home", new { id = movie.imdbID })
                                </a>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="item">
                            <div class="col-xs-2">

                                <a href='@Url.Action("GetSelectedMovie", "Home", new { id = @movie.ID })'>
                                    <img src="@movie.poster_path"
                                         class="img-responsive">
                                    @Html.ActionLink(@movie.title, "GetSelectedMovie", "Home", new { id = movie.imdbID })
                                </a>
                            </div>
                        </div>
                    }
                    active = false;
                }

            </div> <a class="left carousel-control"
                      href="#myCarousel"
                      data-slide="prev">
                <i class="glyphicon glyphicon-chevron-left">
                </i>
            </a>
            <a class="right carousel-control"
               href="#myCarousel"
               data-slide="next">
                <i class="glyphicon glyphicon-chevron-right">
                </i>
            </a>

        </div>
    </div>
</div>

<div class="widget-box-popular">
    <h4>&nbsp;&nbsp; Popular News</h4>
    <table class="table">
        <tbody>
            @foreach (var article in ViewBag.Articles)
            {

                <tr>
                    <td class="movie">
                        <a href="@article.url" target="_blank">
                            @article.title
                        </a><br />
                    </td>
                    <td class="news-thumbnail">
                        <div class="tdiv">
                            <a href="@article.url" target="_blank">
                                <img src="@article.urlToImage" style="height:80px; width:100px" />
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


















