@{
    ViewData["Title"] = "Test";
}
@{
    var temp = 0;
    var count = 1;
    var ColClass = "";
    var ColID = "";
    var movieTemp = 0;
}

<style>
    .card-title {
        margin-left: 10px;
    }

    .card-text {
        margin-left: 10px;
    }
    }
</style>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



@*<div class="card">
    <h2>Now Playing Movies</h2>
    @foreach (var movietheater in Model)
    {
        ColClass = "collapse";
        ColID = "collapseExample";
        if (movietheater.TheaterID == temp)
        {
            ColClass = ColClass + movietheater.TheaterID;
            ColID = ColID + movietheater.TheaterID;
            if (movietheater.MovieID != movieTemp)
            {
                <div class="@ColClass" id="@ColID">
                    <div class="mt-3">
                        <p>
                            <h4>@movietheater.Movie.Title </h4><br />
                            @movietheater.Movie.DateReleased
                            @movietheater.ShowTime
                        </p>
                    </div>
                </div>
            }
            else
            {
                @movietheater.ShowTime
            }
            movieTemp = movietheater.MovieID;


        }
        else
        {
            ColClass = ColClass + movietheater.TheaterID;
            ColID = ColID + movietheater.TheaterID;
            <div class="card-block">
                <h3 class="card-title"><a href="#">@movietheater.Theater.Name</a></h3>
                <p class="card-text">
                    <a href="#">Read Reviews </a> |
                    <a href="#">Rate Theater</a><br />
                    @movietheater.Theater.Address<br />
                    <a href="#">@movietheater.Theater.PhoneNumber</a>|
                    <a href="#">View map</a>
                </p>
                <button class="btn btn-primary" style="margin-left:10px;" type="button" data-toggle="@ColClass" data-target="#@ColID"
                        aria-expanded="false" aria-controls="">
                    View Showtimes
                </button>
            </div>
        }
        temp = movietheater.TheaterID;
    }
</div>*@


<div class="card">
        <div class="card-header">
            Featured
        </div>
        <div class="card-block">
            <h3 class="card-title"><a href="#">QFX Cinemas</a></h3>
            <p class="card-text">
                <a href="#">Read Reviews </a> |
                <a href="#">Rate Theater</a><br />
                5550 Westwood st, Tempe AZ 83201<br />
                <a href="#">555-999-0000</a>|
                <a href="#">View map</a>
            </p>
            <button class="btn btn-primary" style="margin-left:10px;" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                View Showtimes
            </button>
        </div>

        <div class="card-block">
            <h3 class="card-title"><a href="#">QFX Cinemas</a></h3>
            <p class="card-text">
                <a href="#">Read Reviews </a> |
                <a href="#">Rate Theater</a><br />
                5550 Westwood st, Tempe AZ 83201<br />
                <a href="#">555-999-0000</a>|
                <a href="#">View map</a>
            </p>
            <button class="btn btn-primary" style="margin-left:10px;" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                View Showtimes
            </button>
        </div>
    </div>
             Collapsible element
            <div class="collapse" id="collapseExample">
                <div class="mt-3">
                    Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
                    keffiyeh helvetica,
                    craft beer labore wes anderson cred nesciunt sapiente ea proident.
                </div>
            </div>